{% extends "base.html" %}

{% block main %}
<div style = "display: flex; justify-content: center;">
<div class = "center-container" style = "text-align: center;">
<p>Welcome to our brewsite page</p>
<p>There are a lot of different types of Breweries and Beer to check out!</p>
<p> {{ user }}</p>

<table>
    <tbody>
        <tr>
            <td><img src = "{{ url_for('static', filename = 'images/ColdBrew.png') }}" class = "rounded" height = "200" alt = "Cold glass of beer"></td>
            <td><img src = "{{ url_for('static', filename = 'images/BrewTaps.jpg') }}" class = "rounded" height = "200" alt = "Beer taps in a brewery"></td>
            <td><img src = "{{ url_for('static', filename = 'images/BrewCheers.jpg') }}" class = "rounded" height = "200" alt = "Two beer glasses tapping"></td>
        </tr>
    </tbody>
</table>
</div>
</div>
</body>

{% endblock main %}